:root {
  --bg-color: #fff;
  --text-color: #000000;
  --page-color: #fff;
  --hello: #8e8d8a;
  --description: #154360 ;
  --name: #154360;
  --border-width: 1px;
}

[data-theme="dark"] {
  --bg-color: #1a1a1d;
  --text-color: #ffffff;
  --page-color: #1a1a1f;
  --description: #eae7dc;
  --hello: #ffffff;
  --name: #c3073f;
  --border-width: 2px;
}

.App {
  background-color: var(--page-color);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.navbar .navname {
  font-size: x-large;
  margin-left: 20px;
  color: var(--text-color);
  font-weight: 500;
}
.navbar .navname:visited {
  color: var(--text-color);
}
.navbar .navname:hover {
  color: var(--name);
}

.navbar .mr-auto .link {
  margin-left: 20px;
  font-size: large;
  color: var(--text-color);
}
.navbar .mr-auto .link:visited {
  color: var(--text-color);
}
.navbar .mr-auto .link:hover {
  color: var(--name);
  font-weight:700;
}

.dark {
  color: #8e8d8a;
  size: 40px;
}

.navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 15px;
}
.text {
  color: var(--text-color);
}
.hello-img {
  margin-top: 10px;
  max-height: 250px;
}
.display-3 {
  color: var(--hello);
}

.lead {
  color: var(--description);
  font-size:42px;
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 50px;
}
code {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--name);
}
.hello {
  margin-top: 80px;
}
.nbcard {
  background-color: transparent;
  color: var(--text-color);
  padding: 10px;
  border: none;
}
.a {
  padding-left: 14px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.about-h {
  font-size: x-large;
}
.connect-img {
  padding-bottom: 9px;
}
strong,
.with {
  color: var(--name);
}
.skill-h {
  margin-top: 15px;
}
.skills-img {
  margin-left: 15px;
  margin-top: 80px;
  height: 200px;
  width: auto;
}
.skills-btn {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  border-width: var(--border-width);
}
.skills-btn {
  color: #8e8d8a;
}
.skill-txt {
  font-weight: bold;
  font-size: 30px;
  vertical-align: middle;
}
.skill-nbcard {
  color: #ffffff;
  margin-top: 10px;
  background-color: var(--name);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
}
.skill-nbcard:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.exp {
  border-width: 1px;
  border-color: var(--name);
  background-color: transparent;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  color: var(--text-color);
}

.flip-card-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.sbtn {
  margin-top: 20px;
  border: none;
}

.ph {
  background-color: transparent;
  border-width: 1px;
  border-color: var(--text-color);
  color: var(--hello);
}

.contact-img {
  height: 150px;
  width: auto;
  margin-left: 35px;
}
.contact-text {
  color: var(--text-color);
}
.footer-text {
  text-align: center;
  color: var(--text-color);
  margin-top: 100px;
}
#pro-img {
  height: 300px;
  border-bottom: 10px solid #343f47;
  border-radius: 50%;
}
#html-btn:hover {
  background-color: #e15015;
}

#css-btn:hover {
  background-color: #1184de;
}
#js-btn:hover {
  background-color: #eed11b;
}
#react-btn:hover {
  background-color: #1bceee;
}
#node-btn:hover {
  background-color: #1dab52;
}
#proj-wrap {
  display: flex;
  justify-content: space-around;
}
#html-wrap,#css-wrap,#js-wrap,#react-wrap,#node-wrap{
  display: flex;
  width: 190px;
}
#html-pop,#css-pop,#js-pop,#react-pop,#node-pop{
  /* border: 1px solid red; */
  height: 30px;
  margin-top: 20px;
  margin-left: 15px;
  color: lightslategray;
  font-size: 18px;
  font-weight: 600;
  display: none;
}
#html-btn:hover+ #html-pop{
    display: block;
}
#css-btn:hover+ #css-pop{
    display: block;
}
#js-btn:hover+ #js-pop{
    display: block;
}
#react-btn:hover+ #react-pop{
    display: block;
}
#node-btn:hover+ #node-pop{
    display: block;
}
#getintouch-head{
    font-size: 30px;
    text-align: center;
    color: lightslategray;
    margin-top: 30px;
}
#getintouch-txt{
    color: var(--name);
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
#social-media{
    width: 40%;
    height: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.scl-type{
    height: 40px;
    width:50px;
    color: lightslategrey;
}
.scl-type:hover{
    transform: rotate(10deg);
}
.li-da-btn{
  width: 50px;
  height: 30px;
}